//THE MINIATURES PAGE
p.bannerad img.banneradspacer { display: none; }
strong { font-weight: 400; color: #333333; }
em { font-weight: 400; font-style: normal; color: #222222; }
table.normal { padding: 0; margin: 0; }
table center img { display: none; }
table { width: 100%; border-collapse: collapse; border: none; }
table tr td { border: none; }
table.main td.main { padding: 20px;}
hr { margin-top: 20px; margin-bottom: 20px; border-top: 1px solid #666666; }
table + hr { display: none; }
a { color: black !important; text-decoration: none !important; font-weight: 400; text-align: left; line-height: 1em; }
a:hover { text-decoration: underline !important; }
body { background-color: #ffffff; }
h1, h2, h3, h4 { margin-top: 20px; margin-bottom: 0; padding-bottom: 0; color: #111111; margin-bottom: 10px; margin-top: 50px; }

body tbody th { padding-bottom: 5px; text-align: left; padding-left: 10px; }

div.biggroup { border: 1px solid #cccccc; margin: 20px 0; background-color: #f4f4f4; padding: 0; }
div.biggroup h4 { font-size: 20px; color: #333333 !important; margin-left: 20px; margin-top: 20px; }
div.biggroup h4.centered { padding-bottom: 20px; text-align: right; padding-right: 20px;}
div.biggroup h4.centered a { font-size: 14px; color: #999999 !important; }
div.biggroup h4.centered a em { font-size: 14px; color: #999999 !important; }

div.biggroup h1.centered { margin-bottom: 20px; font-size: 20px;   text-align: left; margin-left: 100px; }
div.biggroup h3.centered { margin-bottom: 20px; font-size: 20px;   text-align: left; margin-left: 100px; }
div.biggroup h2.centered { margin-bottom: 20px; font-size: 20px;   text-align: left; margin-left: 100px; }
div.biggroup h3.centered { margin-bottom: 20px; font-size: 20px;   text-align: left; margin-left: 100px; }

div.forumgroup { padding: 20px; border-top: 1px solid #999999; }

td.leftbar div.forumgroup ul { margin-left: -20px; }
td.leftbar { padding: 20px; }
td.leftbar h1 { font-size: 30px !important; color: #333333; }
td.leftbar h4 { font-size: 22px !important; color: #333333; margin-top: 30px; }
td.leftbar div.centered a { text-align: left !important; font-size: 16px !important; }
td.leftbar a { text-decoration: underline; padding-left: 10px; }
td.leftbar a { text-align: left; }

table th.normal { border: none; border-bottom: 1px solid #eeeeee; text-align: left; }
table td.normal { border: none; border-bottom: 1px solid #eeeeee; }
table th.normal div a { color: #333333; }
table th.normal div a:hover { text-decoration: underline; }
table th.buttonbar input { border: none; padding: 5px 20px; margin-top: 10px; }
td.leftbarcell { border: none; }
td.leftbarcell div.leftcelltight { border: none; }
td.leftbarcell div.leftcelltight p { padding: 20px; line-height: 1.25em; padding: 5px 0;}
input { padding: 10px 20px; margin-bottom: 10px; }

h3.forumhead { font-size: 12px; font-weight: 400; text-align: left; padding: 0; margin: 0; }
h3.forumhead br { display: none; }

center strong h2 { text-align: left; margin-left: 20px;  }
div.forumgroup ul.forumlist { padding: 0; margin-top: 0; margin-bottom: 0; }
div.forumgroup dl.forumlist dt + dd { margin: 0; margin-bottom: 10px; padding: 0; }

div.forumgroup dl.forumlist dd { color: #999999 !important; }
div.forumgroup dl.forumlist dd span { color: #999999 !important; }
div.forumgroup dl.forumlist dd span a { color: #999999 !important; }
div.forumgroup center h2 { text-align: left !important; margin-left: 20px; }

td.leftbar div.forumgroup h3.forumhead { text-align: left; padding: 10px; margin-bottom: 10px; background-color: white; margin-left: 0; font-weight: 700; font-size: 16px; }
td.leftbar  div.forumgroup dt { margin-bottom: 10px; }
td.leftbar  div.forumgroup dt a { padding-left: 0; }
td.leftbar  div.forumgroup dd { margin-top: 20px; padding-left: 0; margin-left: 0; padding-top: 10px; border-top: 1px solid #999999; }
td.leftbar  div.forumgroup span.forumwhom a { font-weight: 700; padding-left: 0; }

table.normal td.heading { padding-top: 40px; padding-bottom: 10px; font-weight: 700; border-bottom: 1px solid #999999; text-align: left;  }
table.normal td.subheading { text-align: left; border-bottom: 1px solid #999999; padding-bottom: 5px; padding-top: 5px; }
table.normal td.normal div.normcell p.small { text-align: left; }

a { text-decoration: underline !important; }
td.subheading { text-align: left; padding: 10px; }
td.subheading + .subheading { text-align: right; }
h3.hcell { text-align: left; font-size: 16px; padding: 5px 0;}
tr:nth-child(odd){ background-color: rgba(0,0,0,0.05); }

div.maincell { padding: 0; }
table.main td.main td.heading { padding: 20px 20px 10px 20px; background-color: white; border-bottom: 1px solid #000000; }
th.normal + th.normal { text-align: right; padding-right: 10px; }