//LEAD ADVENTURE FORUM
#wrapper { width: 100% !important; }
.topslice, .botslice{ display: none !important; }
.windowbg .post_wrapper { background-color: rgba(0,0,0,0.10); }
.post_wrapper { display: grid; grid-template-columns: 1fr 8fr; grid-column-gap: 20px; grid-row-gap: 20px; }
.post_wrapper .poster { border-right: 1px solid rgba(0, 0, 0, 0.5); grid-column-start: 1; grid-row-end: span 2; width: 150px; background-color: rgba(0,0,0,0.05); padding-top: 20px;  }
.post_wrapper .postarea { grid-column-start: 2; margin: 0; padding-top: 20px; }
.post_wrapper .moderatorbar { grid-column-start: 2; margin: 0; padding: 0 0 10px 0; }
.post_wrapper .flow_hidden .keyinfo { width: 100%; }
.post_wrapper .inner { border-top: 1px solid rgba(0,0,0,0.25); }

